<header class="yuma-header-area">
 <div class="container">
  <nav class="navbar navbar-expand-md justify-content-end">
    <a class="navbar-brand" [routerLink]="'.'"><img alt="Angular Logo" src="assets/images/logo.png"/></a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <fa-icon [icon]="menuBar" size="2x"></fa-icon>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="isMenuCollapsed = true">Home</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="'offers'" routerLinkActive="active" (click)="isMenuCollapsed = true">Offers</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="'menus'" routerLinkActive="active" (click)="isMenuCollapsed = true">Menus</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="'order-tracking'" routerLinkActive="active" (click)="isMenuCollapsed = true">Order tracking</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="'feedback'" routerLinkActive="active" (click)="isMenuCollapsed = true">Feedback</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="'contact'" routerLinkActive="active" (click)="isMenuCollapsed = true">Contact</a></li>
      </ul>
    </div>
  </nav>
 </div>
</header>


