.yuma-header-area {
  background: #fff;
}
.yuma-header-area .navbar-brand img{
  max-width: 200px;
  width: 100%;
  height: auto;
}
.yuma-header-area .navbar-nav li a{
  color: #1F1F1F;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.yuma-header-area .navbar-nav li a:hover, .yuma-header-area .navbar-nav li a:focus,
.yuma-header-area .navbar-nav li a.active{
  color: #F9AD13;
  text-decoration: none;
}
