
<section class="yuma-page-wrapper yuma-deliver-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 col-sm-6 offset-md-1">
        <div class="yuma-deliver-title">
          <h2>Chicken delivered to your door</h2>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="yuma-deliver-image">
          <a href=""><img src="assets/images/uber-eats.png" alt="uber eat"></a>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="yuma-deliver-image">
          <a href=""><img src="assets/images/deliveroo.png" alt="deliveroo"></a>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="yuma-deliver-image">
          <a href=""><img src="assets/images/justeat.png" alt="justeat"></a>
        </div>
      </div>
    </div>
  </div>
</section>
