.yuma-deliver-area {
  background: #f0f0f0;
  padding: 25px 0;
}
.yuma-deliver-title{
  text-align: right;
}
.yuma-deliver-title h2{
  font-size: 24px;
  margin: 0;
}
.yuma-deliver-image{
  text-align: center;
}
.yuma-deliver-image a{
  display: inline-block;
}
.yuma-deliver-image img{
  width: auto;
  height: auto;
  max-width: 60px;
}
