
.cousre-list{
  padding: 0;
  list-style: none;
}
.cousre-list li{
  padding: 5px 10px;
  background: #f5f5f5;
  margin-bottom: 15px;
  cursor: pointer;
}
.cousre-list li span{
  padding-right: 15px;
}
.cousre-list li a{
  color: #000;
}
