<!--suppress JSConstantReassignment -->
<div class="yuma-page-area">
  <app-banner></app-banner>
  <section class="yuma-page-wrapper yuma-contact-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="yuma-title">
            <ul class="cousre-list">
              <li *ngFor="let course of courses">
                <a routerLink="/details/{{course.id}}"><span> Name: </span> {{ course.name }} </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
