<div class="yuma-page-area">
  <app-banner></app-banner>

  <section class="yuma-page-wrapper yuma-menu-area">
    <div class="container">
      <app-menu [className]="row"></app-menu>
    </div>
  </section>

  <app-deliver></app-deliver>

</div>
