<section class="yuma-slider-area">

  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let slide of slides">
      <div class="yuma-carousel-image">
        <img src="{{slide.slide_image}}" alt="{{slide.slide_title}}">
      </div>
      <div class="carousel-caption">
        <h3>{{slide.slide_title}}</h3>
        <p>{{slide.slide_subtitle}}</p>
        <p><a class="yuma-btn yuma-btn-primary" routerLink="{{slide.slide_button_url}}">{{slide.slide_button}}</a></p>
      </div>
    </ng-template>
  </ngb-carousel>

</section>
