.yuma-slider-area .yuma-carousel-image img{
  width: 100%;
}
.yuma-slider-area .carousel-caption {
  bottom: 30%;
  left: 10%;
  background: rgba(0,0,0,0.5);
  text-align: left;
  padding: 30px;
  max-width: 600px;
  border-radius: 5px;
}
.yuma-slider-area .carousel-caption h3{
  font-size: 40px;
  color: #ffffff;
  text-transform: capitalize;
}
.yuma-slider-area .carousel-caption p{
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
}

