<div class="yuma-callaction-item">
  <a [routerLink]="'/menus'">
    <div class="yuma-callaction-image">
      <img src="assets/images/call-action.png" alt="Call to Action Image">
    </div>
    <div class="yuma-callaction-content">
      <h3>Our Menu</h3>
      <p>Explore Burger King's delicious menu</p>
    </div>
  </a>
</div>
