<section class="yuma-page-wrapper yuma-foodsingle-area" *ngIf="food">
  <div class="yuma-food-details">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="yuma-food-image">
              <img src="{{food.food_img}}" alt="{{food.food_title}}">
            </div>
            <div class="yuma-food-content">
              <h2>{{food.food_title}} </h2>
              <p>{{food.food_des}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="yuma-food-meta">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="yuma-food-size">
            <h3>Combo Size</h3>
            <div class="yuma-size-area">
              <div class="yuma-size-item">
                <input class="food-size" type="radio" name="food_size" id="food_medium" checked>
                <label for="food_medium">
                  <img src="assets/images/size-medium.svg" alt="large">
                  <h5>Medium Meal</h5>
                  <span>Medium Drink and Medium Side Included</span>
                  <p>888 - 1,077 kcal / 3715.4 - 4506.2 KJ</p>
                </label>
              </div>
              <div class="yuma-size-item">
                <input class="food-size" type="radio" name="food_size" id="food_large">
                <label for="food_large">
                  <img src="assets/images/size-large.svg" alt="large">
                  <h5>Large Meal</h5>
                  <span>Large Drink and Large Side Included</span>
                  <p>993 - 1,254 kcal / 4154.7 - 5246.7 KJ</p>
                </label>
              </div>
              <div class="yuma-size-item">
                <input class="food-size" type="radio" name="food_size" id="food_normal">
                <label for="food_normal">
                  <img src="assets/images/size-item.svg" alt="large">
                  <h5>Single Meal</h5>
                  <span>Single Sandwich</span>
                  <p>605 kcal / 2531.3 KJ</p>
                </label>
              </div>
            </div>
          </div>
          <div class="yuma-order-btn">
            <a href="">Order online</a>
          </div>
          <div class="disclaimer-area">
            <p>This item contains wheat and gluten, may contain milk, eggs, soy, mustard and celery and may be cooked on same equipment as fish, crustaceans/molluscs and sulphur dioxide. Modifications are not represented in this list.</p>
            <p>BURGER KING®’s priority is to ensure customers with food allergies and intolerances have accurate information to enable them to make safe choices from our menu. There are 14 legally specified food allergens. Products contain or may contain them as follows</p>
            <ul>
              <li>Contains – a planned ingredient which is definitely present.</li>
              <li>“May contain” – a supplier has reported to us a real risk of cross contamination on their production line.</li>
              <li>“May contain via shared equipment” – potential cross contamination through shared cooking equipment in our kitchen (fryers & flame grilling equipment – broiler).</li>
            </ul>
            <p>Toaster: All our buns are toasted in the same toaster. They all contain gluten, some contain sesame and some contain milk and egg. If you are allergic to any of these ingredients you are advised not to choose any of our sandwich products with a bun. Fryers: We have separate fryer vats for different products but they share an oil filtration system which creates a risk of cross contamination when the oil passes through the filter. Broiler: This high temperature grilling device cooks all our beef patties and also our breakfast sausage patties. Bones: Although we take great care to remove bones from our meat, poultry and fish products some small bones may still be present.</p>
            <p>BURGER KING® kitchens have strict controls in place to reduce the risk of cross contamination such as separate storage areas, utensils and cleaning equipment for products containing allergens. In common with other catering operations, our kitchens are open environments, hence we cannot guarantee that any product is entirely free from any allergen.</p>
            <p>we cannot guarantee that any product is entirely free from any allergen. Customers with severe food allergies should take this information into account. The allergen information for dip pots is printed on the lid and the allergen information for sauces on sachets is printed on the sachet.</p>
            <p>The allergen information for products in retail packaging (soft drinks bottled, porridge, juices bottled and water bottled) is printed on the packaging.</p>
            <p>This nutritional information provided by Burger King Corporation regarding our food is as complete as possible at the time of this publication. The source of this nutritional information is reported to us by our suppliers or is lab tested “as an end product” by an accredited laboratory. We use software to calculate this nutritional data. Variations may occur depending on the supplier and on product assembly on a restaurant-by-restaurant basis. Product formulations may change periodically, we continue to update this list to reflect changes that occur in our products.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
