.yuma-foodsingle-area{
  position: relative;
  padding: 0;
}
.yuma-food-details{
  position: relative;
  padding: 30px 0;
  background: #f5f5f5 url("../../../assets/images/food-bg.jpg") no-repeat top center / cover;
  border-bottom: 2px dashed #F9AD13;
}
.yuma-food-image{
  text-align: center;
}
.yuma-food-image img{
  width: auto;
  height: auto;
  max-height: 250px;
}
.yuma-food-content{
  padding: 50px 0 0;
}
.yuma-food-content h2{
  font-size: 28px;
}
.yuma-food-content p{
  font-size: 15px;
  line-height: 25px;
}
.yuma-food-meta{
  background: #f5f5f5;
  padding: 30px 0 50px;
}
.yuma-food-size{
  padding-top: 20px;
}
.yuma-food-size h3{
  font-size: 24px;
}
.yuma-size-area{
  position: relative;
}
.yuma-size-item{
  padding: 5px 0;
}
.yuma-size-item [type="checkbox"]:checked,
.yuma-size-item [type="checkbox"]:not(:checked),
.yuma-size-item [type="radio"]:checked,
.yuma-size-item [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}
.yuma-size-item .food-size:checked+label,
.yuma-size-item .food-size:not(:checked)+label {
  position: relative;
  display: inline-block;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  background: #ffffff;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.yuma-size-item .food-size:not(:checked)+label {
  border: 2px solid #ffffff;
  box-shadow: rgba(73, 73, 73, 0.2) 0 0 4px 0;
}
.yuma-size-item .food-size:checked+label {
  border: 2px solid #F9AD13;
  -webkit-transition: border 0.3s ease 0s;
  -moz-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}
.yuma-size-item .food-size:checked+label:before {
  content: "\2713";
  position: absolute;
  right: 20px;
  top: 25%;
  font-size: 30px;
  font-weight: 700;
  color: #F9AD13;
}
.yuma-size-item .food-size:not(:checked)+label:hover {
  border: 2px solid #F9AD13;
  -webkit-transition: border 0.3s ease 0s;
  -moz-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}
.yuma-size-item img{
  max-width: 70px;
  height: auto;
  float: left;
  margin-right: 15px;
}
.yuma-size-item h5{
  font-size: 16px;
  margin: 0;
}
.yuma-size-item span{
  font-size: 13px;
 }
.yuma-size-item p{
  font-size: 14px;
  margin: 0;
}
.yuma-order-btn {
  position: relative;
  text-align: center;
  padding-top: 30px;
}
.yuma-order-btn a {
  display: inline-block;
  background: #F9AD13;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 40px;
  text-decoration: none;
}
.disclaimer-area p {
  font-size: 13px;
  line-height: 22px;
  text-align: justify;
}
.disclaimer-area ul {
  padding-left: 30px;
}
.disclaimer-area li {
  font-size: 13px;
  padding: 5px 0 0;
  line-height: 22px;
  color: #666666;
}
