<!--suppress JSConstantReassignment -->
<div class="yuma-page-area">
  <app-banner></app-banner>
  <section class="yuma-page-wrapper yuma-contact-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="yuma-contact-form">

            <div *ngIf="course" class="course-details">
              <h2>{{course.name}} Details</h2>
              <p>Name: {{course.name}}</p>
              <label>Name:
                <input [(ngModel)]="course['name']" placeholder="name" />
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
