.yuma-food-item{
  position: relative;
  background: #ffffff;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.09);
  transition: 0.3s ease 0s;
}
.yuma-food-item:hover{
  box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}
.yuma-food-item img{
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 30px;
  max-height: 200px;
}
.yuma-food-item a{
  display: block;
  text-align: center;
}
.yuma-food-content{
  padding: 0px 15px 20px;
  text-align: center;
}
.yuma-food-content h3{
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.yuma-food-content h3 a{
  color: #333333;
}
.yuma-food-item:focus .yuma-food-content h3 a, .yuma-food-item:hover .yuma-food-content h3 a{
  text-decoration: none;
  color: #F9AD13;
}
.yuma-food-content p{
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  color: #666;
}

