
  <div  *ngFor="let food of foods" class="col-md-4 col-sm-6">
    <div class="yuma-food-item">
      <a routerLink="/foods/{{food.food_id}}"><img src="{{ food.food_img }}" alt="food"></a>
      <div class="yuma-food-content">
        <h3><a routerLink="/foods/{{food.food_id}}">{{ food.food_title }}</a></h3>
        <p>{{ food.food_excerpt }}</p>
      </div>
    </div>
  </div>

