<section class="yuma-page-wrapper yuma-tracking-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="yuma-tracking-content">
          <div class="yuma-title">
            <h3>Oeder Tracking works!</h3>
            <p>Enter an order reference below and click 'Track' and your order's current status will be shown below. The status is <b>automatically</b> updated every 15 seconds. </p>
          </div>
          <div class="yuma-tracking-form">
          <form action="#">
               <div class="form-group">
                  <label>Order Reference:</label>
                  <input type="text" placeholder="Order Reference" class="form-control"/>
                  <input type="submit" class="yuma-btn yuma-btn-primary" value="Tracking" name="track">
               </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
