
.yuma-tracking-content{
  padding: 20px 30px 20px;
  background: #f5f5f5f5;
  border-radius: 5px;
}
.yuma-tracking-form {
  position: relative;
}
.yuma-tracking-form label{
  font-size: 15px;
  margin-bottom: 10px;
}
.yuma-tracking-form input.form-control {
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  padding: 8px 15px;
  height: auto;
  font-size: 15px;
  color: #333;
  max-width: 360px;
}
.yuma-tracking-form input.form-control:focus{
  border-color: #F9AD13;
}
.yuma-tracking-form .yuma-btn {
  margin-top: 15px;
}
