<section class="yuma-page-wrapper yuma-promotion-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="yuma-promotion-image">
          <img src="assets/images/phone.png" alt="phone">
        </div>
      </div>
      <div class="col-md-6">
        <div class="yuma-promotion-content">
          <h4>Save £££</h4>
          <h3>With offers on demand</h3>
          <ul>
            <li><a href="#"><img src="assets/images/apple-store.png" alt="Apple"></a></li>
            <li><a href="#"><img src="assets/images/google-store.png" alt="Google"></a></li>
          </ul>
          <p>Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc. Google Play is a trademark of Google Inc. Terms apply.</p>
        </div>
      </div>
    </div>
  </div>
</section>
