.yuma-promotion-area {
  position: relative;
}
.yuma-promotion-area::before {
  content: '';
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0% 100%);
  clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0% 100%);
  background: #f5f5f5;
  position: absolute;
  top: 0;
  left: 0;
}
.yuma-promotion-image{
  text-align: center;
}
.yuma-promotion-image img{
  width: auto;
  height: auto;
  max-height: 450px;
}
.yuma-promotion-content h4{
  font-size: 30px;
  text-transform: uppercase;
}
.yuma-promotion-content h3{
  font-size: 36px;
  text-transform: uppercase;
}
.yuma-promotion-content ul{
  padding: 0;
  list-style: none;
}
.yuma-promotion-content li{
  display: inline-block;
  padding: 10px 10px;
}
.yuma-promotion-content li img{
  max-width: 150px;
  height: auto;
}
.yuma-promotion-content p {
  line-height: 25px;
  font-size: 15px;
}
