<section class="yuma-page-wrapper yuma-offer-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="yuma-offer-title">
          <h2>Offers</h2>
        </div>
        <div class="yuma-offer-sidebar">

          <div class="media yuma-offer-item"
               *ngFor="let food of foods"
               [class.selected]="food === selectedFood"
               (click)="onSelect(food)">
            <img src="{{food.food_img}}" class="mr-3" alt="{{food.food_title}}">
            <div class="media-body">
              <h3 class="mt-0">{{food.food_title}}</h3>
              <p>{{food.food_excerpt}}</p>
            </div>
          </div>


        </div>
      </div>
      <div class="col-md-8">
        <div class="yuma-offer-content" *ngIf="selectedFood">
          <img src="{{selectedFood.food_img}}" alt="{{selectedFood.food_title}}">
          <h3>{{selectedFood.food_title}}</h3>
          <p>{{selectedFood.food_excerpt}}</p>
          <div class="yuma-order-btn"><a routerLink="/foods/{{selectedFood.food_id}}"> Order </a></div>
          <div class="disclaimer-area">
            <p>Not valid in conjunction with any other offer. One voucher per transaction. Valid only in the UK. Subject to availability. Voucher valid at participating restaurants only. Not valid at Burger King motorway service locations, airports train stations and holiday parks. © 2020 Burger King Europe GmbH. All rights reserved.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
