
.yuma-offer-area{
  padding: 0;
}
.yuma-offer-area .col-md-8, .yuma-offer-area .col-md-4{
  padding-left: 0;
  padding-right: 0;
}
.yuma-offer-content{
  padding: 0 30px 50px;
  text-align: center;
  background: #f5f5f5 url("../../../assets/images/offer-bg.jpg") no-repeat top center / cover;
}
.yuma-offer-content h3 {
  font-size: 24px;
}
.yuma-offer-content p {
  font-size: 14px;
  line-height: 25px;
}
.yuma-offer-content img {
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 30px 10px;
  max-height: 300px;
}
.yuma-offer-area .yuma-order-btn {
  padding-top: 10px;
}
.yuma-offer-content .disclaimer-area p {
  font-size: 13px;
  line-height: 22px;
}
.yuma-offer-title{
  background: #F9AD13;
  padding: 15px;
}
.yuma-offer-title h2 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}
.yuma-offer-sidebar {
  background: #fff;
  padding: 20px;
  overflow-y: scroll;
  max-height: 550px;
}
.yuma-offer-item{
  position: relative;
  cursor: pointer;
  padding-right: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f5f5f5;
  border-right: 5px solid transparent;
}
.yuma-offer-item.selected {
  border-right: 5px solid #F9AD13;
}
.yuma-offer-item:last-child{
  border-bottom: none;
}
.yuma-offer-item h3{
  font-size: 20px;
  margin-bottom: 5px;
}
.yuma-offer-item p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 22px;
  font-size: 14px;
  margin: 0;
}
.yuma-offer-item img{
  max-width: 150px;
  height: auto;
  width: auto;
  border-radius: 3px;
  background: #f5f5f5 url("../../../assets/images/offer-bg.jpg") no-repeat top center / cover;
}
