<section class="yuma-page-wrapper yuma-banner-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="yuma-banner-content">
          <h2>{{title}}</h2>
          <p>{{sub}}</p>
        </div>
      </div>
    </div>
  </div>
</section>



