
.yuma-banner-area{
  padding: 80px 0;
  position: relative;
  background: #F9AD13 url("../../../assets/images/banner.png");
}
.yuma-banner-area:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
}
.yuma-banner-content{
  text-align: center;
}
.yuma-banner-content h2 {
  font-size: 36px;
  color: #fff;
}
.yuma-banner-content p {
  font-size: 15px;
  color: #fff;
  line-height: 25px;
}
