<div class="yuma-page-area">
  <app-slider></app-slider>

  <section class="yuma-page-wrapper yuma-welcome-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <app-welcome></app-welcome>
        </div>
        <div class="col-md-4">
          <app-openingtime></app-openingtime>
        </div>
        <div class="col-md-4">
          <app-waitingtime></app-waitingtime>
        </div>
      </div>
    </div>
  </section>
  <section class="yuma-page-wrapper yuma-callaction-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <app-callaction></app-callaction>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-callaction></app-callaction>
        </div>
        <div class="col-md-6">
          <app-callaction></app-callaction>
        </div>
      </div>
    </div>
  </section>

  <app-promotions></app-promotions>

  <app-deliver></app-deliver>

</div>
