<section class="yuma-page-wrapper yuma-feedback-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="yuma-feedback-content">
          <h2>Feedback works!</h2>
        </div>
      </div>
    </div>
  </div>
</section>
