<div class="yuma-page-area">

  <app-banner></app-banner>
  <section class="yuma-page-wrapper yuma-food-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <ngb-tabset>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <img src="assets/images/crispy-chicken.png" alt="burger">
                <h3>Flame-grilled burgers</h3>
              </ng-template>
              <ng-template ngbTabContent>
                <app-food [className]="row"></app-food>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <img src="assets/images/chicken-royal.png" alt="burger">
                <h3>Crispy & tender chicken</h3>
              </ng-template>
              <ng-template ngbTabContent>
                <app-food [className]="row"></app-food>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <img src="assets/images/crispy-chicken.png" alt="burger">
                <h3>Veggie & more</h3>
              </ng-template>
              <ng-template ngbTabContent>
                <app-food [className]="row"></app-food>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <img src="assets/images/chicken-royal.png" alt="burger">
                <h3>Kids meals</h3>
              </ng-template>
              <ng-template ngbTabContent>
                <app-food [className]="row"></app-food>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>



        </div>
      </div>
    </div>
  </section>

  <app-deliver></app-deliver>

</div>


