<footer class="yuma-footer-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="yuma-footer-menu">
          <h3>Flava Info</h3>
          <ul>
            <li><a href="javascript:void(0)">Fag</a></li>
            <li><a href="javascript:void(0)">Terms And Conditions</a></li>
            <li><a href="javascript:void(0)">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="yuma-footer-menu">
          <h3>Flava and You</h3>
          <ul>
            <li><a href="javascript:void(0)">Fag</a></li>
            <li><a href="javascript:void(0)">Terms And Conditions</a></li>
            <li><a href="javascript:void(0)">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="yuma-footer-menu">
          <h3>Connect with us</h3>
          <ul class="yuma-social">
            <li><a href="javascript:void(0)"><fa-icon [icon]="Facebook" size="2x"></fa-icon></a></li>
            <li><a href="javascript:void(0)"><fa-icon [icon]="Twitter" size="2x"></fa-icon></a></li>
            <li><a href="javascript:void(0)"><fa-icon [icon]="Youtube" size="2x"></fa-icon></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="yuma-copyright">
          <p>TM & Copyright 2020 Flava Corporation. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

