.yuma-footer-area {
  background: #323231;
  padding: 40px 0 20px;
}
.yuma-footer-menu h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 24px;
}
.yuma-footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.yuma-footer-menu li{
  padding: 3px 0;
}
.yuma-footer-menu li a{
  color: #ffffff;
  font-size: 14px;
}
.yuma-footer-menu li a:hover{
  text-decoration: none;
  color: #F9AD13;
}
.yuma-footer-menu ul.yuma-social {
  margin: 0;
  padding: 0;
  list-style: none;
}
.yuma-footer-menu ul.yuma-social li {
  padding: 0 10px;
  display: inline-block;
}
.yuma-footer-menu ul.yuma-social li:first-child{
  padding-left: 0;
}
.yuma-footer-menu ul.yuma-social li a:hover{
  color: #F9AD13;
}
.yuma-copyright {
  padding-top: 20px;
  border-top: 1px solid #40403e;
  margin-top: 50px;
  text-align: center;
}
.yuma-copyright p{
  font-size: 14px;
  color: #ffffff;
  margin: 0;
}
