/* You can add global styles to this file, and also import other style files */

body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: normal;
  background: #ffffff;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Signika', sans-serif;
  color: #333333;
}
a,a:hover,a:focus,input,input:focus,button,button:focus{
  outline: none;
  box-shadow: none;
  text-decoration: none;
  transition: all 0.5s ease;
}
label{
  color: #333;
}
p, span{
  color: #666666;
}
img{
  width: auto;
  max-width: 100%;
  height: auto;
}
.yuma-btn{
  display: inline-block;
  padding: 8px 30px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  border: none;
  text-decoration: none;
  font-family: 'Signika', sans-serif;
}
.yuma-btn:hover, .yuma-btn:focus{
  outline: none;
  color: #ffffff;
  box-shadow: none;
  text-decoration: none;
}
.yuma-btn-primary{
  background: #F9AD13;
  border-color: #F9AD13;
  color: #fff;
}
.yuma-btn-primary:hover, .yuma-btn-primary:focus{
  box-shadow: none;
  outline: none;
}
.yuma-page-wrapper{
  padding: 50px 0;
  position: relative;
}

/*======= Title Area =======*/

.yuma-title{
  position: relative;
  padding-bottom: 15px;
}
.yuma-title h3{
  position: relative;
  font-size: 32px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.yuma-title h3::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 3px;
  background: #F9AD13;
  left: 0;
  bottom: 0;
}
.yuma-title p{
  font-size: 15px;
  line-height: 24px;
}

 /*======= Welcome Area =======*/

.yuma-welcome-area {
  background: #F9AD13;
  padding: 30px 0;
}
.yuma-welcome-content {
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  min-height: 130px;
}
.yuma-welcome-content::after {
  content: '';
  height: 100%;
  width: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.yuma-welcome-area .col-md-4:last-child .yuma-welcome-content::after {
  display: none;
}
.yuma-welcome-content h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 5px;
}
.yuma-welcome-content p{
  color: #fff;
  font-size: 15px;
  margin-bottom: 0;
}
.yuma-welcome-content p span{
  padding-right: 25px;
  color: #ffffff;
}
.yuma-welcome-content h5 {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 16px;
}

/*======= Call to Action Area =======*/

.yuma-callaction-area{
  position: relative;
}
.yuma-callaction-item{
  position: relative;
  margin-bottom: 30px;
}
.yuma-callaction-item::before{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background: rgba(249,173,19,0.2);*/
  background: rgba(0,0,0,0.6);
  z-index: 1;
  border-radius: 5px;
}
.yuma-callaction-item a{
  display: block;
  text-decoration: none;
}
.yuma-callaction-image {
  position: relative;
}
.yuma-callaction-image img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}
.yuma-callaction-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 2;
}
.yuma-callaction-content h3{
  font-size: 36px;
  color: #fff;
  margin: 0;
}
.yuma-callaction-content p{
  font-size: 20px;
  color: #fff;
  margin: 0;
}

/*======= Food Area ========*/

.yuma-related-area .yuma-food-content h3 a{
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.yuma-related-area .yuma-food-content p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.yuma-food-area .nav.nav-pills{
  padding-bottom: 50px;
}
.yuma-food-area .nav-pills .nav-link{
  text-align: center;
}
.yuma-food-area .nav-pills .nav-link img {
  max-width: 65px;
  margin-bottom: 15px;
}
.yuma-food-area .nav-pills .nav-link h3 {
  font-size: 20px;
  display: block;
  margin: 0;
  border-bottom: 3px solid #f5f5f5;
  padding-bottom: 10px;
  transition: 0.3s ease 0s;
}
.yuma-food-area .nav-pills .nav-link.active, .yuma-food-area .nav-pills .show > .nav-link {
  background-color: transparent;
}
.yuma-food-area .nav-pills .nav-link.active h3, .yuma-food-area .nav-pills .nav-link:hover h3{
  color: #F9AD13;
  border-bottom: 3px solid #F9AD13;
}
.yuma-food-area .nav-pills .nav-link {
  padding: .5rem 1.5rem;
}
.yuma-order-btn {
  position: relative;
  text-align: center;
  padding-top: 30px;
}
.yuma-order-btn a {
  display: inline-block;
  background: #F9AD13;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 40px;
  text-decoration: none;
}
.disclaimer-area {
  padding: 30px 0 10px;
}
