<div *ngFor="let menu of menus" class="col-md-4 col-sm-6">
  <div class="yuma-foodmenu-item">
      <a [routerLink]="'/foods'"><img src="{{menu.menu_image}}" alt="{{menu.menu_title}}}"></a>
      <h3><a [routerLink]="'/foods'">{{menu.menu_title}}</a></h3>
  </div>
</div>

