.yuma-foodmenu-item{
  position: relative;
  background: #ffffff;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.09);
  transition: 0.3s ease 0s;
}
.yuma-foodmenu-item:hover{
  box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}
.yuma-foodmenu-item img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px
}
.yuma-foodmenu-item h3{
  display: block;
  font-size: 20px;
  margin: 0px;
  text-align: center;
  text-transform: capitalize;
  padding: 15px 25px;
}
.yuma-foodmenu-item h3 a{
  color: #333333;
  display: block;
}
.yuma-foodmenu-item:hover h3 a{
  color: #F9AD13;
}
