<div class="yuma-page-area">
  <section class="yuma-page-wrapper yuma-notfound-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="yuma-notfound-content">
            <h2>Nothing Found!</h2>
            <p><a class="btn-notfound" href="/" >Back Home</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

