.yuma-notfound-area{
  padding: 150px 0;
  position: relative;
  background: #F9AD13 url("../../../assets/images/banner.jpg");
}
.yuma-notfound-area:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
}
.yuma-notfound-content{
  text-align: center;
}
.yuma-notfound-content h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 15px;
}
.yuma-notfound-content a.btn-notfound {
  font-size: 16px;
  display: inline-block;
  color: #fff;
}
.yuma-notfound-content a.btn-notfound:hover{
  color: #F9AD13;
  text-decoration: none;
}
