
.yuma-related-area {
  background: #f5f5f5;
}
.yuma-related-area .yuma-title h3{
  text-align: center;
  display: inline-block;
}
.yuma-related-area .yuma-title{
  text-align: center;
}
.yuma-related-area .yuma-title h3::after {
  width: 100%;
}

