<section class="yuma-page-wrapper yuma-related-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="yuma-title">
          <h3>You May Also like</h3>
        </div>
      </div>
    </div>

    <app-food class="row"></app-food>

  </div>
</section>
